<div class="pagetitle">
  <h1>Editing Professional</h1>
</div>

<%= render 'form', professional: @professional %>

<%= link_to 'Show', @professional, class: "btn btn-outline-primary btn-sm" %>
<%= link_to 'Back', professionals_path, class: "btn btn-outline-secondary btn-sm" %>


