<div class="pagetitle">
  <h1>Editing Role</h1>
</div>

<%= render 'form', role: @role %>

<%= link_to 'Show', @role, class: "btn btn-outline-primary btn-sm" %>
<%= link_to 'Back', roles_path, class: "btn btn-outline-secondary btn-sm" %>


