<div class="pagetitle">
  <h1>Editing Appointment</h1>
</div>

<%= render 'form', appointment: @appointment %>

<%= link_to 'Show', @appointment, class: "btn btn-outline-primary btn-sm" %>
<%= link_to 'Back', appointments_path, class: "btn btn-outline-secondary btn-sm" %>


